$font-1: "Source Sans Pro', sans-serif";

$red: #FF0000;
$green: #008000;
$blue: #0000FF;
$yellow: #FFFF00;
$orange: #FFA500;
$black: #000000;
$pink: #FF1493;
$purple: #800080;
$white: #FFFFFF;
$darkBlue: 	#0F1B29;

$sm: 768px;
$md: 992px;
$lg: 1200px;

.inline {
  display: inline-block;
}